<!DOCTYPE html>
<html>
<head>
    <title>Potato Disease Predictor</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container">
    <h1>Potato Disease Detector</h1>
    <p>Upload a leaf image to detect disease</p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label class="upload-box">
            <input type="file" name="image" id="imageInput" required>
            <span>Click to upload image</span>
        </label>

        <img id="preview" />

        <button type="submit">Predict</button>
    </form>
</div>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>