<!DOCTYPE html>
<html>
<head>
    <title>Potato Disease Predictor</title>
</head>
<body>

<h1>Upload Potato Leaf Image</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <input type="file" name="image" id="imageInput" required>
    
    <br><br>
    
    <!-- Image Preview -->
    <img id="preview" src="" width="300" style="display:none;"/>
    
    <br><br>
    
    <button type="submit">Predict</button>
</form>

<script>
    const input = document.getElementById('imageInput');
    const preview = document.getElementById('preview');

    input.addEventListener('change', function() {
        const file = this.files[0];

        if (file) {
            preview.style.display = "block";
            preview.src = URL.createObjectURL(file);
        }
    });
</script>

</body>
</html>